region = "us-east-1"
vpc_name = "platform-management"
subnet_ids = ["subnet-XXXXXXXX","subnet-YYYYYYYY","subnet-ZZZZZZZZ"]
elb_subnet_ids = ["subnet-XXXXXXXXXX","subnet-YYYYYYYYYY","subnet-ZZZZZZZZZZ"]
environment_name = "sandbox"
#db_username = "dbadmin"
#db_storage_in_gib = 20
#db_instance_class = "db.m4.large"
