environment_name = "YOUR-ENVIRONMNET-NAME"
base_domain = "example.com."
region = "YOUR-AWS-REGION"
availability_zone = "YOUR-AWS-ZONE"
secondary_availability_zone = "YOUR-AWS-ZONE"

ec2_ssh_key_pair_name = "YOUR-SSH-KEY-PAIR-NAME" #optional. generated and registered if blank
email = "foo@example.com" #mandatory when use use Let's Encrypt
ssl_certificate = "" #optional. use Let's Encrypt if blank
ssl_private_key = "" #optional
use_rds = true #optional
