sandbox_access_key_id = "((AWS_ACCESS_KEY_ID))"
sandbox_secret_access_key = "((AWS_SECRET_ACCESS_KEY))"
sandbox_session_token = "((AWS_SESSION_TOKEN))"
nonprod_access_key_id = "((AWS_ACCESS_KEY_ID))"
nonprod_secret_access_key = "((AWS_SECRET_ACCESS_KEY))"
nonprod_session_token = "((AWS_SESSION_TOKEN))"
prod_access_key_id = "((AWS_ACCESS_KEY_ID))"
prod_secret_access_key = "((AWS_SECRET_ACCESS_KEY))"
prod_session_token = "((AWS_SESSION_TOKEN))"
region = "us-east-1"
environment_name = "pfauto"
paving_pfmgmt_allowed_iam_user_arns = ["arn:aws:iam::((AWS_ACCOUNT_ID)):user/*"]
